<html>
	<head>
		<meta charset="UTF-8">
		<title> Create Savings Account </title>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" media="screen and (max-width: 1000px)" href="/static/phone.css">
		<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster+Two&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Anybody&family=Bree+Serif&family=Lobster+Two&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Carter+One&family=Gabriela&family=PT+Serif&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="savingscontent" id="in-services" align="center">
			<div class="sub">
				<h1>Savings Account</h1>
			</div></br>
			<div class="savingsbottom">
			<form action="{{ url_for('savings')}}" method="post" autocomplete="off">
			<div class="msg">{{ msg }} {{acct_no}}</div>
			<input type="email" name="email" placeholder="Enter Your Email ID" class="sub-text" id="email" required></br>
			<input type="password" name="pin" placeholder="Enter Your 4-digit Transaction PIN" class="sub-text" id="pin" required></br>
			<input type="text" name="acct_name" placeholder="Enter Your Name" class="sub-text" id="acct_name" required></br>
			<input type="text" name="address" placeholder="Enter Your Address" class="sub-text" id="address" required></br>
			<input type="text" name="phone_no" placeholder="Enter Your Phone Number" class="sub-text" id="phone_no" required></br>
			<input type="text" name="current_amt" placeholder="Enter Your Current Amount" class="sub-text" id="current_amt" required></br></br>
			<input type="submit" class="btn" value="Create">
			</form>
			</div>
		</div>
	</body>
</html>
